üí• ‚òïÔ∏è üç∫ üõº üèì ‚õπüèª‚Äç‚ôÄÔ∏è üö¥üèª üöÄ üè• ü©∫ üíä üõå

# An√°lisis Exploratorio de Datos: Impacto del Consumo de Caf√© en la Salud y Estilo de Vida

## üéØ Contexto y Objetivo

El caf√© ‚òïÔ∏è, como una de las bebidas m√°s consumidas a nivel mundial, representa un factor significativo en la rutina diaria de millones de personas. Sin embargo, su impacto en la salud üè•, patrones de sue√±o üõå , niveles de estr√©s y calidad de vida ‚õπüèª‚Äç‚ôÄÔ∏è sigue siendo un tema de intenso debate cient√≠fico e inter√©s p√∫blico.

Este an√°lisis exploratorio üöÄ busca examinar las complejas relaciones entre el consumo de caf√© y m√∫ltiples dimensiones de la salud, utilizando una base de datos integral que abarca variables demogr√°ficas, cl√≠nicas y de estilo de vida.

## üìä Alcance del Estudio

El dataset contiene informaci√≥n multidimensional que permite investigar:

- **Patrones de consumo**: Frecuencia e intensidad del consumo de caf√© y cafe√≠na
- **Variables de salud**: Sue√±o, frecuencia card√≠aca, BMI, niveles de estr√©s
- **Factores demogr√°ficos**: Edad, g√©nero, pa√≠s, ocupaci√≥n
- **H√°bitos de vida**: Actividad f√≠sica, tabaquismo, consumo de alcohol
- **Indicadores cl√≠nicos**: Problemas de salud, calidad del sue√±o

## üîç Preguntas Clave de Investigaci√≥n

¬øC√≥mo se relaciona el consumo de caf√© con:
- La calidad y duraci√≥n del sue√±o?
- Los niveles de estr√©s y salud cardiovascular?
- Los h√°bitos de vida y variables demogr√°ficas?
- El estado general de salud y bienestar?

## üìà Hipotesis a investigar

üí• H1: Italia y Brazil son los paises donde m√°s caf√© se consume.

üí• H2: Entre el consumo de cafe√≠na y la calidad del sue√±o existe una correlaci√≥n negativa.

üí• H3: Hay diferencias significativas en el consumo del caf√©, nivel del estr√©s y calidad del sue√±o por genero.

üí• H4. Los adultos (18-55) toman m√°s caf√© y duermen menos horas que los mayores(56-80).

üí• H5: Las horas fisicamente activas se correlacionan positivamente con la calidad del sue√±o, pero negativamente con el IMC y el nivel del estres.

üí• H6: Los estudiantes y el personal medico son los que menos duermen y mas caf√© consumen.

üí• H7: Las personan que fuman y toman alcool duermen menos , tienen mas problemas de salud y se estresan m√°s.



Este EDA pretende servir como base para entender los efectos multidimensionales del consumo de caf√© y guiar investigaciones m√°s espec√≠ficas en el futuro.

In [2]:
import pandas as pd

df = pd.read_csv('data/coffee_consumption.csv')
df

,ID,Age,Gender,Country,Coffee_Intake,Caffeine_mg,Sleep_Hours,Sleep_Quality,BMI,Heart_Rate,Stress_Level,Physical_Activity_Hours,Health_Issues,Occupation,Smoking,Alcohol_Consumption
0,1,40,Male,Germany,3.5,328.1,7.5,Good,24.9,78,Low,14.5,NaN,Other,0,0
1,2,33,Male,Germany,1.0,94.1,6.2,Good,20.0,67,Low,11.0,NaN,Service,0,0
2,3,42,Male,Brazil,5.3,503.7,5.9,Fair,22.7,59,Medium,11.2,Mild,Office,0,0
3,4,53,Male,Germany,2.6,249.2,7.3,Good,24.7,71,Low,6.6,Mild,Other,0,0
4,5,32,Female,Spain,3.1,298.0,5.3,Fair,24.1,76,Medium,8.5,Mild,Student,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,50,Female,Japan,2.1,199.8,6.0,Fair,30.5,50,Medium,10.1,Moderate,Healthcare,0,1
9996,9997,18,Female,UK,3.4,319.2,5.8,Fair,19.1,71,Medium,11.6,Mild,Service,0,0
9997,9998,26,Male,China,1.6,153.4,7.1,Good,25.1,66,Low,13.7,NaN,Student,1,1
9998,9999,40,Female,Finland,3.4,327.1,7.0,Good,19.3,80,Low,0.1,NaN,Student,0,0
9999,10000,42,Female,Brazil,2.9,277.5,6.4,Good,28.1,72,Low,9.8,NaN,Student,1,0

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 16 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ID                       10000 non-null  int64
 1   Age                      10000 non-null  int64
 2   Gender                   10000 non-null  object
 3   Country                  10000 non-null  object
 4   Coffee_Intake            10000 non-null  float64
 5   Caffeine_mg              10000 non-null  float64
 6   Sleep_Hours              10000 non-null  float64
 7   Sleep_Quality            10000 non-null  object
 8   BMI                      10000 non-null  float64
 9   Heart_Rate               10000 non-null  int64
 10  Stress_Level             10000 non-null  object
 11  Physical_Activity_Hours  10000 non-null  float64
 12  Health_Issues            4059 non-null   object
 13  Occupation               10000 non-null  object
 14  Smoking                  10000 non-null  int64
 15  Alcohol_Consumption      10000 non-null  int64
dtypes: float64(5), int64(5), object(6)
memory usage: 1.2+ MB

In [4]:
df['Age'].describe()
#la edad minima es 18 y la maxima es de 80 a√±os

count    10000.000000
mean        34.949100
std         11.160939
min         18.000000
25%         26.000000
50%         34.000000
75%         43.000000
max         80.000000
Name: Age, dtype: float64

In [5]:
df['Gender'].describe()

count      10000
unique         3
top       Female
freq        5001
Name: Gender, dtype: object

In [6]:
df['Gender'].unique()

array(['Male', 'Female', 'Other'], dtype=object)

In [7]:
df['Gender'].value_counts()
#En esta encuesta han participado 5001 mujeres, 4773 hombres y 226 personas que se identifican como 'otros'

Gender
Female    5001
Male      4773
Other      226
Name: count, dtype: int64

In [8]:
df['Country'].unique()

array(['Germany', 'Brazil', 'Spain', 'Mexico', 'France', 'Canada', 'UK',
       'Switzerland', 'Netherlands', 'Italy', 'China', 'Japan', 'Belgium',
       'Finland', 'Australia', 'USA', 'Sweden', 'India', 'Norway',
       'South Korea'], dtype=object)

In [9]:
#por que el consumo de cafe ('Coffee_intake') es un valor float y no entero?
# 1 espresso = 0.5 standard cups
# Large mug = 1.5 standard cups
# Small cup = 0.75 standard cups
# Large Starbucks = 2 standard cups
# O porque se calcula la media de las tazaz partiendo del numero de tazas de cafe por semana: 10/7 = 1,42
integer_like = df['Coffee_Intake'].apply(lambda x: x.is_integer())
integer_like.value_counts()

Coffee_Intake
False    8550
True     1450
Name: count, dtype: int64

In [18]:
df.groupby('Country', as_index=False).mean('Caffeine_mg')[['Country','Caffeine_mg']].sort_values(by='Caffeine_mg', ascending=False)
#Como primero conclusion se puede ver que Espa√±a es el pais donde m√°s cafe se consume,
# pero me entra la duda de que es asi y quiero ver cuantas personas hay de cada pais

        Country  Caffeine_mg
15        Spain   247.004733
13       Norway   246.030210
18           UK   245.165125
4         China   244.727639
19          USA   243.468080
2        Brazil   242.079386
0     Australia   241.930785
17  Switzerland   241.336000
10        Japan   240.598507
6        France   240.090581
8         India   237.812405
3        Canada   237.287477
5       Finland   235.476471
7       Germany   234.531388
12  Netherlands   233.970850
14  South Korea   233.824023
11       Mexico   232.634576
9         Italy   232.054028
16       Sweden   229.799610
1       Belgium   229.078873

In [14]:
df['Country'].value_counts()

Country
Canada         543
India          524
Norway         523
China          521
UK             519
Sweden         513
South Korea    512
Finland        510
Italy          509
Switzerland    500
France         499
Belgium        497
Australia      497
Germany        497
Netherlands    494
Spain          486
Mexico         483
Japan          469
Brazil         456
USA            448
Name: count, dtype: int64

In [15]:
df.columns

Index(['ID', 'Age', 'Gender', 'Country', 'Coffee_Intake', 'Caffeine_mg',
       'Sleep_Hours', 'Sleep_Quality', 'BMI', 'Heart_Rate', 'Stress_Level',
       'Physical_Activity_Hours', 'Health_Issues', 'Occupation', 'Smoking',
       'Alcohol_Consumption'],
      dtype='object')

In [17]:
df['Occupation'].value_counts()

Occupation
Office        2073
Other         2038
Student       1968
Healthcare    1964
Service       1957
Name: count, dtype: int64